
#Program
*.html
*.geojson
**/*.html
**/*.geojson

# IDEs and editors
.idea/
.venv/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.cursor/
*.swp
*~
*#
.qodo

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# Compilations
build
dist
*.spec
*.version

